extends ./layouts/common

block content
  h1 Hello this content was written #{name}
  a(class='btn btn-link', href = "/users") Users List
  a(class='btn btn-link', href = "/users/create") Create user

